{% extends "base.html" %}
{% block content %}
<section class="about-info">
    <div class="about-feature">
        <div class="about-content">
            <p class="title">We strive towards a better future.</p>
            <p class="desc">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe tempore enim expedita, harum aut
                est. Facere molestiae ratione dolor!
                <br>
                Illum quis aperiam explicabo minima inventore, expedita nisi quaerat sit dicta deserunt maiores
                corporis, voluptates officia reiciendis!
                <br>
                Reiciendis adipisci omnis beatae aliquid voluptatibus consequatur asperiores error!
                <br>
                <br>
                Quasi iste quo doloribus autem voluptate ratione dolorem ipsum dolore eaque!
                <br>
                Minima dolorem recusandae officia aperiam eos asperiores quae exercitationem totam facere!
                <br>
                Dolor incidunt nulla dolorem deserunt, voluptatibus nesciunt deleniti voluptas possimus,
                <br>
                explicabo sed veritatis aliquid.
                <br>
                <br>
                Deserunt asperiores, neque reprehenderit adipisci illo omnis sunt fugit alias deleniti quam
                inventore
                <br>
                voluptatibus nihil consectetur rerum nesciunt recusandae architecto unde. Dignissimos
                praesentium esse veritatis a,
                <br>
                earum, sit repudiandae, tenetur sapiente necessitatibus delectus asperiores provident dicta
                consequuntur voluptates.
        </div>
        <img src="static/img/owner.jpg" alt="the owner">
    </div>

</section>
{% endblock content %}