{% extends "base.html" %}
{% block content %}
<section class="more-info">
    <div class="feature">
        <div class="content">
            <p class="title">Personal Training</p>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aperiam qui minus
                nulla vel fugiat!</p>
        </div>
        <img src="/static/img/pic1.jpg" alt="gym ambiance">
    </div>
    <div class="feature left">
        <div class="content">
            <p class="title">Comunity</p>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aperiam qui minus
                nulla vel fugiat!</p>
        </div>
        <img src="/static/img/pic2.jpg" alt="gym ambiance">
    </div>
    <div class="feature">
        <div class="content">
            <p class="title">Group Wokouts</p>
            <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aperiam qui minus
                nulla vel fugiat!</p>
        </div>
        <img src="/static/img/pic3.jpg" alt="gym ambiance">
    </div>
</section>
{% endblock content %}